#project_title,
#project_tagline {
    text-align: center;
}

ul {
    list-style: none;
    font-size: 18px;
}

a,
a:hover,
a:visited,
a:active {
    text-decoration: none;
}

/*#main_content_wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-content: space-around;
    align-items: flex-start;
}

.category {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    min-width: 400px;
}*/

.category {
    margin: 20px auto;
    max-width: 60%;
}





