<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="shortcut icon" href="../../pic.png" >
        <link rel="stylesheet" href="beiwang.css" >
    </head>
    <body>
        <script src="../angular.js"></script>
        <div ng-app="beiwang" ng-controller="beiwangCtrl">
            <h3>我的备忘录</h3>
            <p>
                <input type="text" ng-model="itemtxt" name="item" placeholder="新增">
                <button ng-click="addItem()">新增</button>
            </p>
            <p ng-repeat="obj in items">
                <input type="checkbox" ng-model="obj.done"><span class="done-{{obj.done}}">{{obj.txt}}</span>
            </p>
            <button ng-click="clearDone()">清除done</button>

        </div>

        <script src="beiwang.js"></script>
    </body>
</html>