
svg line {
    pointer-events: none;
}

circle,
line {
    -moz-transition: all 0.02s;
    -o-transition: all 0.02s;
    -webkit-transition: all 0.02s;
    transition: all 0.02s;
}
/*
circle {
    z-index: 100;
}*/
