ul {
    list-style-type: none;
    display: flex;
    justify-content: ;
}

li {
    display: inline-block;
    min-width: 80px;
    line-height: 20px;
}

a,
a:hover,
a:active,
a:visited {
    text-decoration: none;
    color: #369;

}

.section {
    margin: 20px auto;
    max-width: 80%;
    min-width: 1000px;
    border: 1px solid #eee;
}

.content {
    min-height: 600px;
}


