<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <Link rel="shortcut icon" href="../../pic.png">
        <script src="../angular.js"></script>

    </head>
    <body>
        <!-- <div ng-controller="helloAngular">
            <p>{{greeting.text}},Angular</p>
        </div> -->

        <!-- <div ng-controller="ParentCtrl">               
            <div ng-controller="SelfCtrl">             
                <a ng-click="click()">click me</a>
                <div ng-controller="ChildCtrl"></div>  
            </div>
            <div ng-controller="BroCtrl"></div>        
        </div> -->

        <!-- <div ng-app="broAndEmit" class="container">
            <div ng-controller="EventController" class="span12">
                <p>Root scope MyEvent count: {{count}}</p>
                <ul>
                    <li ng-repeat="i in [1]" ng-controller="AbcController">
                        <button ng-click="$emit('MyEvent')">$emit('MyEvent')</button>
                        <button ng-click="$broadcast('MyEvent')">$broadcast('MyEvent')</button>
                        <button ng-click="fireEvent()">fireEvent()</button>
                        <p>Middle scope MyEvent count: {{count}}</p>
                        <ul>
                            <li ng-repeat="item in [1, 2]" ng-controller="EventController">
                                - Leaf scope MyEvent count: {{count}}
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div> -->


        
    
        <script src="mooc.js"></script>
    </body>
</html>